@media(max-width:900px){
    body{
        grid-template-columns: 1fr;
        
    }

    .hero{
    display: grid;
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    }

    .hero img{
        width: 400px;
    }

    .hero div:first-child{
        margin: 0 auto;
        
    }

    .hero div:last-child{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 40px;
    }

    .hero .title{
        text-align: center;
        font-size: 35px;
    }


    .hero .description{
        padding-top: 20px;
        text-align: center;
    }

    .hero button{
        padding-inline: 80px;
    }

    .footer {
        justify-content: center;
    }

}
    
