body{
    display: grid;
    grid-template-areas: 
    "header header"
    "hero hero"
    "footer footer";
    grid-template-columns: 
    repeat(2, 1fr);
    min-height: 100vh;
    background-image: url(../images/bg-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
    max-width: 1440px;
    margin: 0 auto;
}

.header{
    grid-area: header;
    font-family: 'Poppins', sans-serif;
    padding: 25px 30px;
}

.header svg{
    width: 184px;
}

.hero{
    grid-area: hero;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Open Sans', sans-serif;
    padding: 20px 34px;
}

.hero img{
    max-width: 100%;
    margin: 0 auto;
}

.hero .illustration{
    margin-right: 50px;
}

.hero .information{
    padding-top: 30px;
}

.hero .title{
    font-size: 50px;
    color: #fff;
}

.hero .description{
    padding-top: 15px;
    line-height: 35px;
    font-size: 21px;
    color: #fff;
}

.hero button{
    margin-top: 20px;
    padding: 14px 55px;
    border: none;
    border-radius: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #2F4F4F;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.4s;
}

.hero button:hover{
    cursor: pointer;
    background-color: hsl(300, 69%, 71%);
    color: #fff;   
}

.footer{
    grid-area: footer;
    display: flex;
    align-items: start;
    justify-content: end;
    gap: 20px;
    padding: 20px;
}

.footer a{
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 1px #fff;
    transition: 0.4s;
    color: #fff;
}

.footer a:hover {
    cursor: pointer;
    border: solid 1px hsl(300, 69%, 71%);
    color: hsl(300, 69%, 71%);   
}

.footer .icons{
    padding-top: 11px;
}

